.Navbar{
    background-color: #D70F64;
    height: 80px;
}
.NavLink{
    color: aliceblue;
    margin-right: 8px;
    text-decoration: none;
}

 .NavLink:hover,.activeclass:hover{
    color: aliceblue;
    text-decoration: none;

}
.navbar{
    outline: none;
}
